# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Configuraciones de editores de código e IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.classpath
.project
.settings/

# Archivos de registro y logs
*.log
